<div id="blogCont">
    <h1>Blog</h1>
    <p id="para">You don't know where you want to go yet?<br>Select the continent you are interested in to find out about the various travel destinations.</p>
    <div id="NA" class="card text-center" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/North_America_on_the_globe_%28white-red%29.svg" class="card-img-top" alt="Blog">
        <div class="card-body">
            <h5 class="card-title">Noth America</h5>
            <a class="btn btn-primary" href="https://viel-unterwegs.de/reiseberichte/nordamerika/">Go To</a>
        </div>
    </div>
    <div id="SA" class="card text-center" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/South_America_on_the_globe_%28red%29.svg/1200px-South_America_on_the_globe_%28red%29.svg.png" class="card-img-top" alt="Blog">
        <div class="card-body">
            <h5 class="card-title">South America</h5>
            <a class="btn btn-primary" href="https://southtraveler.de/">Go To</a>
        </div>
    </div>
    <div id="EU" class="card text-center" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Europe_on_the_globe_%28red%29.svg/1200px-Europe_on_the_globe_%28red%29.svg.png" class="card-img-top" alt="Blog">
        <div class="card-body">
            <h5 class="card-title">Europe</h5>
            <a class="btn btn-primary" href="https://www.riaontour.de/reiseziele/europa-st%C3%A4dtereise/">Go To</a>
        </div>
    </div>
    <div id="AF" class="card text-center" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Africa_on_the_globe_%28red%29.svg/1200px-Africa_on_the_globe_%28red%29.svg.png" class="card-img-top" alt="Blog">
        <div class="card-body">
            <h5 class="card-title">Africa</h5>
            <a class="btn btn-primary" href="https://abendsonneafrika.de/aktuelles/blog-und-reiseratgeber">Go To</a>
        </div>
    </div>
    <div id="AS" class="card text-center" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Asia_on_the_globe_%28white-red%29.svg/1200px-Asia_on_the_globe_%28white-red%29.svg.png" class="card-img-top" alt="Blog">
        <div class="card-body">
            <h5 class="card-title">Asia</h5>
            <a class="btn btn-primary" href="https://viel-unterwegs.de/reiseberichte/asien/">Go To</a>
        </div>
    </div>
    <div id="AU" class="card text-center" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Australia_on_the_globe_%28Antarctic_claims_hatched%29_%28Oceania_centered%29_with_borders.svg/1200px-Australia_on_the_globe_%28Antarctic_claims_hatched%29_%28Oceania_centered%29_with_borders.svg.png" class="card-img-top" alt="Blog">
        <div class="card-body">
            <h5 class="card-title">Australia</h5>
            <a class="btn btn-primary" href="https://www.woanderssein.com/reisetipp/australien/">Go To</a>
        </div>
    </div>
</div>
